* {
  box-sizing: border-box;
  transition: color 0.3s ease;
}

:root {
  color-scheme: light dark;
}


.dashboard-container {
  display: flex;
  min-height: 80vh;
}

.sidebar {
  width: 220px;
  border-right: 1px solid transparent;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.sidebar h2 {
  margin-bottom: 2rem;
}

.sidebar nav a {
  display: block;
  padding: 0.7rem 0;
  text-decoration: none;
}

.sidebar nav a:hover {
  font-weight: bold;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.menu-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  display: none;
}


.metrics {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  flex: 1;
  padding: 1rem;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: 5px 5px 5px rgba(71, 70, 70, 0.5);
}

.card h4 {
  margin: 0;
  font-weight: 500;
}

.card p {
  font-size: 1.5rem;
  margin: 0.3rem 0;
  color: tomato;
}

.card .up {
  color: #09b731ff;
  font-size: 0.9rem;
}

.card .down {
  color: red;
  font-size: 0.9rem;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.chart-placeholder {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}


.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 0;
  text-decoration: none;
  font-size: 0.95rem;
  text-decoration: none;
  margin-top: 1rem;
  color: inherit;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header svg {
  font-size: 1.2rem;
}

.sidebar {
  transition: all 0.3s ease;
  z-index: 100;
}

.mobile-header{
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    width: 220px;
    border-right: 1px solid #eee;
    background-color: whitesmoke;
    color: black;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .mobile-header{
    display: block;
 }
}


/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    transform: translateX(-100%);
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: whitesmoke;
    color: black;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
  }

  .metrics {
    flex-direction: column;
  }

  .content {
    flex-direction: column;
  }
}
